html, 
body {
    --blog-bg-color: #212121;
    --mdc-theme-primary: #ffc107;
    --mdc-theme-secondary: #03a9f4;

    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--blog-bg-color);
    color: var(--mdc-theme-text-primary-on-dark);
}

.title {
    font-family: Mosk;
    font-weight: 800;
    text-align: center;
    font-size: 68px;
    color: var(--mdc-theme-primary);
    line-height: 1em;
}

.title:before {
    content: "blog:";
    color: var(--mdc-theme-secondary);
}

.thumb {
    background-color: rgba(255, 255, 255, .05);
}

.thumb__title {
    margin: 0;
    padding: 16px 16px 0 16px;
    color: var(--mdc-theme-primary);
}

.thumb__subtitle {
    margin: 0;
    padding: 0 16px;
    font-size: 12px;
    color: var(--mdc-theme-text-secondary-on-dark);
}

.thumb__tags {
    padding: 12px 12px 0 12px;
}

.thumb__tags .mdc-chip {
    pointer-events: none;
    background-color: var(--mdc-theme-text-hint-on-background);
    color: var(--mdc-theme-primary);
    border-radius: 4px;
    height: 24px;
    font-size: 12px;
}

.thumb__body {
    margin: 0;
    padding: 8px 16px;
}

.thumb__actions {
    --mdc-theme-primary: var(--mdc-theme-secondary);

    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.article article h1 {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 40px;
    color: var(--mdc-theme-primary);
}

.article article h2 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 32px;
    color: var(--mdc-theme-primary);
}

.article article h3 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 32px;
    color: var(--mdc-theme-primary);
}

.article article h4 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15px;
    line-height: 28px;
    color: var(--mdc-theme-primary);
}

.article article h5 {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 20px;
    color: var(--mdc-theme-primary);
}

.article article p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 24px;
}

.article article blockquote {
    background-color: var(--mdc-theme-text-hint-on-background);
    margin: 16px 0;
    padding: 16px;
    border-left: 4px solid var(--mdc-theme-primary);
}

.article article blockquote > p {
    margin: 0;
}

.article article p > code {
    background-color: var(--mdc-theme-text-hint-on-background);
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    color: var(--mdc-theme-primary);
}

.article article pre {
    background-color: var(--mdc-theme-text-hint-on-background);
    padding: 6px 10px;
    border-radius: 4px;
}

.article article a {
    color: var(--mdc-theme-secondary);
}

.article article ul.contains-task-list {
    padding-left: 18px;
    list-style-type: none;
}

.article article strong {
    font-weight: 500;
}

.article article em {
    font-weight: 400;
}

.article article em:before {
    content: '"';
}

.article article em:after {
    content: '"';
}

.article article h1:first-child {
    margin-top: 0;
}

.article article a.anchor {
    display: none;
}

.article__title {
    color: var(--mdc-theme-primary);
    margin: 0;
}

.article__title--center {
    text-align: center;
    background-color: var(--mdc-theme-text-hint-on-background);
    border-radius: 4px;
    padding: 16px;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
}

/* tablet */
@media (max-width:839px) {
    .container {
        width:98%;
    }
}

/* phone */
@media (max-width: 599px) {
}